<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>{{ board_image }}</div>
    <form action=http://localhost:5000/handleAction method="POST">
        <p>Movimiento: <input type ='text' value="d2d3" name = "move"></p>
        <input type ="submit" value ="Mover">
        <input type ="submit" value="Deshacer movimiento" name = "back">
        <input type ="submit" value= "Reiniciar tablero" name = "reset">
    </form> 
</body>
</html>